.objects {
    padding-top: 45px;
    padding-bottom: 80px;
    // .objects__row

    &__row {
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:1495px){
            justify-content: flex-end;
        }
    }

    // .objects__img

    &__img {
        display: flex;
        justify-content: flex-end;
        column-gap: 32px;
        align-items: flex-start;
    }

    // .objects__text

    &__text {
        flex-shrink: 0;
        padding-left: 181px;
        padding-right: 150px;
        width: 374px;
        box-sizing: content-box;

        p +p {
            margin-top: 20px;
        }
    }

    &__title{
        margin-bottom: 20px;
    }

    &__button{
        margin-top: 40px;
    }
    
}
